/****************公共样式开始****************/
      html{
        font-size:16px;
      }
      @media screen and (min-width:320px){
          html{
            -Blink-text-size-adjust:none;
              font-size:8px !important;
          }
      }
      @media only screen and (min-width: 360px){
          html{
              font-size:10px !important;
          }
      }
      @media only screen and (min-width: 400px){
          html{
              font-size:12.5px !important;
          }
      }
      @media only screen and (min-width: 480px){
          html{
              font-size:15px !important;
          }
      }
      @media only screen and (min-width: 640px){
          html{
              font-size:20px !important;
          }
      }
      *{padding:0;margin:0;}
      body{
        background-image:url(https://api.i-meto.com/bing?cat=N);
        background-size:cover;
        background-attachment: fixed;
      }
      .main .meta *{display:flex;flex-direction: column;}
/****************公共样式结束****************/
  @media screen and (min-width:500px){
    .content_panel .home_top_item.blog_item{width:65%;}
    .content_panel .author_pan{width:33%;margin-bottom:2.2rem;}
  }
  @media screen and (max-width:500px){
    .content_panel .home_top_item.blog_item{width:100%;min-height:8rem;}
    .content_panel .author_pan{
      width:100%;
      padding:10px;
      margin-bottom:0;
    }
    footer{
      display:flex;
      flex-direction:column !important;
      justify-content: center !important;
      padding:2rem;
      background:#fff;
      margin-top:2rem;
    }
  }
  .author_pan{
    background-color:#fff;
    box-sizing:border-box;
  }
  .main{
    width:100%;
    height:auto;
    padding-top:6rem;
  }
  .menu_btn{
  	color:#0E52A3;
  	background-color:rgba(0,0,0,0.3);
  	text-decoration: none;
    padding:10px 20px;
    position:fixed;
    top:1pc;
    cursor:pointer;
    border-radius:0.5rem;
  }
  .menu_btn .iconfont{
  	vertical-align: bottom;
    font-size:1.5rem;
    color:#0E52A3;
  }
  .menu_btn_right{
    right:0;
  }
  .content_panel{
    width:100%;
    max-width:900px;
    margin:0 auto;
    display:flex;
    align-items: stretch;
    box-sizing: border-box;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .avatar_temp{
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content:space-around;
  }
  .avatar_wrapper{
    display:inline-block;
    width:10rem;
    height:10rem;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
  }
  .avatar_wrapper img{
    width:100%;
    height:100%;
  }
  .func_temp{
    padding:0.8rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:15px;
  }
  .func_temp .csl_blog{
    margin-right:1rem;
  }
  .icon_btn{
    display:inline-block;
    padding:0 0.3rem;
    cursor:pointer;
  }
  .icon_btn .iconfont{
    font-size:25px;
  }
  footer{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:2rem;
    background:#fff;
    margin-top:2rem;
    text-align:center;
  }
  footer .csl_right{
    font-size:14px;
    color:#999;
  }
  @media screen and (min-width:500px){
    .mail_wrap input{
      border:none;
      width:33.3%;
    }
  }
  @media screen and (max-width:500px){
    .mail_wrap input{
      border:none;
      width:100%;
    }
    .blog_item{
      width:100%;
    }
    .visitor_tool,.visitor_sys{
      display:none;
    }
  }
  section{
    width:100%;
    margin:0 auto;
    display:flex;
    align-items: stretch;
    box-sizing: border-box;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .blog_item{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0.2rem;
    margin-bottom:2.2rem;
    overflow:hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    justify-content: space-around;
  }
  .blog_item .item_head{
    min-height:15rem;
    padding:1rem;
    background-image:url(https://api.i-meto.com/bing?color=multi);
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;  
  }
  .blog_item .blog_title{
    font-size:1.5rem;
  }
  .blog_item .item_desc{
    padding:1.3rem;
    background-color:#fff;
    font-size:0.7rem;
  }
  .item_desc .read_yw{
    color:#94F28E;
  }
  .blog_item .item_info{
    overflow:hidden;
    background-color:#fff;
    border-top:1px solid rgba(0, 0, 0, .1);
  }
  .item_info .authInfo{
    padding:0.75rem;
    flex-direction: row;
    font-size:0.7rem;
    color: #757575!important;
    float:left;
  }
  .author_avatar{
    width:44px;
    height:44px;
    margin-right:0.75rem;
  }
  .author_avatar img{
    width:44px;
    height:44px;
  }
  .item_info .item_right_menu{
    padding:1.1rem;
    color:#94F28E;
    float:right;
    font-size:0.8rem;
  }
  .blog_item .blog_title{
    color:#fff;
  }
  .blog_item .blog_title a{
    text-decoration: none;
    color:#fff;
    text-align:left;
  }
  .self_content p{
    line-height:2rem;
    font-size:0.8rem;
  }
  .mail_wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mail_wrap input{
    line-height:40px;
    border:none;
    outline:none;
    border-bottom:1px dashed #DEDEDE;
  }
  .mail_wrap input:focus{
    border-bottom:1px dashed red;
  }
  .comment_area{
    display:flex;
    flex-direction:column;
    border:1px solid #F0F0F0;
    padding:1rem 0.5rem;
  }
  .comment_text{
    width:100%;
    min-height:7rem;
    box-sizing: border-box;
    border:none;
    outline:none;
    padding:0.5rem;
  }
  .tool_bar {
    overflow:hidden;
    padding:0.5rem 0;
    border-bottom:1px dashed #DEDEDE;
  }
  .send_btn{
    display:inline-block;
    padding:0 0.5rem;
    line-height:1.5rem;
    border-radius:0.75rem;
    background:#409EFF;
    color:#fff;
    cursor:pointer;
    float:right;
  }
  .comment_top{
    line-height:3rem;
    font-size:0.7rem;
    color:#666;
  }
  #comment_num{
    font-weight:bolder;
    font-size:0.8rem;
    color:red;
  }
  .comment_items{
    display:flex;
    flex-direction: column;
  }
  .comment_items .comment_item{
    width:100%;
    display:flex;
    flex-direction: column;
  }
  .visitor_info{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .visitor_info>*{
    margin:0 5px;
  }
  .visitor_info .visitor_avatar,.visitor_info .visitor_avatar img{
    width:44px;
    height:44px;
  }
  .visitor_name{
    color:#333;
    line-height:30px;
    height:30px;
    font-size:13px;
  }
  .visitor_tool, .visitor_sys{
    padding:0 10px;
    background:#EDEDED;
    color:#999;
    line-height:30px;
    height:30px;
    font-size:12px;
    border-radius:5px;
  }
  .visitor_content{
    padding:10px 0 10px 44px;
  }
  .to_someone{
    display:inline-block;
    color:#BAC2CA;
    font-size:12px;
    line-height:25px;
  }
  .visitor_text{
    display:inline-block;
    text-indent:1em;
    color:#666;
    font-size:14px;
    line-height:25px;
  }
  .visitor_bottom{
    line-height:50px;
  }
  .comment_date{
    display:inline-block;
    color:#BAC2CA;
    font-size:12px;
    line-height:25px;
  }
  .reply_btn{
    cursor:pointer;
    display:inline-block;
    color:red;
    font-size:14px;
    line-height:25px;
    cursor:pointer;
    margin-left:10px;
  }
